
@{
}


    <div class="form-group">
            <option value="">-- Select Competency --</option>
            @foreach (var competency in Model.CompetencyList)
            {
                <option value="@competency.CompetencyID">@competency.CompetencyName</option>
            }
        </select>
        <span asp-validation-for="SelectedCompetencyId" class="text-danger"></span>
    </div>

    <div class="form-group">
            <option value="">-- Select Proficiency --</option>
            @foreach (var proficiency in Model.ProficiencyList)
            {
                <option value="@proficiency.ProficiencyID">@proficiency.ProficiencyLevel</option>
            }
        </select>
        <span asp-validation-for="SelectedProficiencyId" class="text-danger"></span>
    </div>


        }

                const competencyName = match.competency.competencyName;
                const proficiencyLevel = match.proficiencies.proficiencyLevel;
                const description = match.description;
                const activeStatus = match.active ? "Yes" : "No";
                const archivedStatus = match.archived ? "Yes" : "No";

                const content =
                    `<p><strong>Competency:</strong> ${competencyName}</p>
                    <p><strong>Proficiency:</strong> ${proficiencyLevel}</p>
                    <p><strong>Description:</strong> ${description}</p>
                    <p><strong>Active:</strong> ${activeStatus}</p>
                    <p><strong>Archived:</strong> ${archivedStatus}</p>
                    <hr />`;

                quill.root.innerHTML += content;
            });
        });

        function downloadAsText() {
            const quillContent = document.querySelector('#editor .ql-editor').innerText; // get plain text
            const blob = new Blob([quillContent], { type: "text/plain;charset=utf-8" });

            // Create a download link and click it programmatically
            const link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = "summary.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
    }
    }
</ul>