@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
</head>

<div class="text-center">
    <h1>Job Creation Tool</h1>
    <h2>Welcome to the NMC Job Creation Tool!</h2>
    <img src="~/images/nmc-sign.jpg" alt="NMC Logo" class="img-fluid" />
    <p style="padding:10px;">
        Piece together different aspects of a job listing to create an accurate description of a career at NMC!
    </p>
    <a href="Summary" class="btn btn-primary">Begin Here</a>
</div>
