@model HR_Tool.Models.Competency

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Details</h1>

<div>
    <h4>Competency</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetencyName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn2" asp-action="Edit" asp-route-id="@Model?.CompetencyID">Edit Competency</a>
    <a class="btn2" asp-action="Index">Back to List</a>
</div>
